
.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.input-box {
  width: 10%;
  margin-left: 20px;
}

.table-container {
  color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
  background-color: white;
}

.table-cell {
  color: black;
}

.main-container {
  height: 147px;
  color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
  background-color: white;
}

.main-label {
  font-size: 19px;
}

.input-box {
  width: 10%;
}

.form-control {
  width: 8%;
}

.row-text {
  line-height: 2.45;
}

.black {
  color: black;
}

.green {
  color: green!important;
}