.main-container {
  height: 147px;
  color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
}

.main-label {
  font-size: 19px;
}

.input-box {
  width: 10%;
}

.form-control {
  width: 8%;
}

.row-text {
  line-height: 2.45;
}